<div class="login-container">
  <img class="logo-background" src="../assets/images/logo-background.svg" />
  <div class="desc"></div>
  <form class="login-form">
    <img class="logo" src="../assets/images/logo.png" />
    <div class="form-group">
      <label for="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
      {{ unameFeedbackMsg }}
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>

    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" type="submit" (click)="login()">
        login
      </button>
    </div>
  </form>
</div>
