.login-container {
  height: 100vh;
  max-width: 1750px;
  background: radial-gradient(
      ellipse at right top,
      transparent 33.2%,
      #001220 33%,
      #001220 72.4%,
      rgb(2, 181, 2) 71%
    ),
    radial-gradient(
      ellipse at left top,
      transparent 33.2%,
      #001220 33%,
      rgb(2, 181, 2) 50%,
      rgb(2, 181, 2) 80%,
      #001220 77.5%,
      transparent 80%
    );

  width: 95vw;
  box-shadow: 0 2.5px 10px gray;
  margin: auto;
  position: relative;

  .logo-background {
    height: 100vh;
    display: flex;
    margin: auto;
    z-index: -1;
  }

  .desc {
    font-size: 25px;
    font-family: "Aladin", cursive;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
    text-align: right;
    width: 1200px;
  }

  .film {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 475px;
    object-fit: contain;
  }

  .login-form {
    width: 500px;
    padding: 20px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 5px 5px 20px #383838;
    .logo {
      width: 150px;
      display: flex;
      margin: auto;
    }
  }

  .form-group {
    margin-top: 20px;
  }

  label {
    font-weight: 600;
    opacity: 0.75;
  }
  .form-control {
    text-align: center;
  }
  .btn-container {
    position: relative;
    .btn {
      margin-top: 10px;
      width: 100%;
    }

    .error {
      color: red;
      margin-top: 10px;
      font-weight: bold;
      animation: glow 2s infinite;
    }

    @keyframes glow {
      0%,
      100% {
        transform: scale(1.1);
      }

      50% {
        transform: scale(1);
      }
    }
  }
}
